/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.fixed-left{
    position: fixed;
    left: 0;
    right: unset;
    z-index: 1031;
}

.gray-pill{
    background-color: #EEEEEE;
}